

<head>
  <title>Bailey Simms | Forgot Password</title>  
</head>

<div id="form_container" class="short_form_container">

	<div class="form_header_div">
		<h1 class="form_header_center">Forgot Your Password?</h1>
	</div>

	<div class="form_div">
			<%= form_for(:password_reset, url: password_resets_path) do |f| %>
	      <%= f.email_field :email, placeholder: "Enter email...", class: "form_field"  %>
	      <%= f.submit "Submit", class: "form_button_primary" %>
	    <% end %>
	</div>
	
</div>
