<p>Hi <%= @user.user_name.gsub(/_/, ' ') %>,</p>

<p>Welcome to Dead in Bed! Click on the link below to activate your account: </p>

<%= link_to "Activate my account!", edit_account_activation_url(@user.activation_token, email: @user.email) %>

<p>Thanks!</p>