<head>
  <title>Bailey Simms | <%=@user.user_name%></title>  
</head>

<div style="text-align: center; color: darkblue", id="profile">
	<%= gravatar_for @user %>
	<h1><%= @user.user_name %></h1>
	<h1><%= @user.email %></h1>
</div>
