<% if object.errors.any? %>																								<!--HRTL 11.39 (changes "@user" to "object") -->
	<div>
 		<div>
 			Oops! Looks like you have <%= pluralize(object.errors.count, "error") %>:
 		</div>
 		<ul>
 		<% object.errors.full_messages.each do |msg| %>												<!--HRTL 11.39 (changes "@user" to "object") -->
 			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

