<% if object.errors.any? %>					
	<div>
 		<div>
 			Oops! Looks like you have <%= pluralize(object.errors.count, "error") %>:
 		</div>
 		<ul>
 		<% object.errors.full_messages.each do |msg| %>					
 			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

