<% if object.errors.any? %>					
	<div class="form-errors">
 		<h3>Oops! Looks like you have <%= pluralize(object.errors.count, "error") %>:</h3>
 		<ul>
 			<% object.errors.full_messages.each do |msg| %>					
 				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

