<div id="blog_intro_statement">

	<h1><%= @post.title %></h1>
	<%= raw @post.content %>

  <div id="blog_intro_statement_button">
    <%= link_to 'posts/2' do %>
      <p>READ</p>
    <% end %>
  </div>

</div>
