<div id="blog-intro-statement">

	<p><i>The following blog was hosted by a teen under the name “Bailey Simms” for a period of time that spanned more than a year, though little is known about the author’s actual identity.</i></p>

	<p><i>Among Ms. Simms’s blog posts is a completed serialized novel entitled </i>Dead in Bed<i>. Interspersed within the novel’s segments, updates describe events in the author’s life from the winter of 2013 until the spring of 2015. At that point, the posts abruptly stop.</i></p>

	<p><i>None of this blog’s original material has been altered.</i></p>

</div>
