<head>
  <title>Bailey Simms | Blog</title>  

    <!-- Mobile Layout -->
    <% content_for :head do %>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<% end %>

</head>

<%= render 'posts/blog_page_layout' %>
