<head>
  <title>Bailey Simms | Blog | <%=@post.date.strftime("%-m/%-e/%y %l:%M%p") %></title> 
</head>


<%= render 'facebook_share' %>

<%= render 'blog_page_layout' %>

<% current_user.update_attribute(:current_post, @post.id) if logged_in? %>