<head>
  <title>Dead in Bed | About</title>  
</head>

<div id="about_container">

  <h1 id="about_header">About</h1>

  <div id="about_content">
	  <p>In the winter of 2013, a blog was established by a teen writing under the name “Bailey Simms.“ Little is known about the author’s actual identity.</p>
	  <p>Among Ms. Simms’s blog posts is a completed serialized novel which has now been published as <span style="font-style:italic" >Dead in Bed</span>. Interspersed within the novel’s segments, blog updates describe events in the author’s life up to the spring of 2015. At that point, the posts abruptly stop.</p>
	  <p>The complete blog has now been reproduced here on this web app. None of the original material has been altered. The contents are disturbing.</p>
	</div>

  <%= link_to 'posts/2' do %>
    <p id="about_read_button">read</p>
  <% end %>

</div> 


