<head>
  <title>Bailey Simms | About</title>  
</head>

<body id="about_body">
  <div class="about_div">

    <h1 class="bailey_head">BAILEY</h1>
    <h1 class="simms_head">SIMMS</h1>

    <p>So, things have been pretty crazy for me since I started writing the <i><%= link_to "Dead in Bed", books_path %></i> series. To say the least. My life has totally turned upside down, and now there's no going back. If you want the inside scoop, just read along on my blog and I'll try to tell you everything I can as I update.</p>

		<p>Basically, though, I'm just a girl from a small town who loves really good stories. My teacher told me I should try to write professionally, so I did&mdash;though suspense thrillers about a plague that turns people into crazed sex-fiends probably wasn't exactly what she had in mind!</p>

		<p>Ever since I'd learned about this stupid medical condition I came down with, I was stuck at home without much else to do. But then I started writing <i>Dead in Bed</i>. It was an escape, and it made me feel better about things. And, then, of course everything changed. And I mean everything. But despite all that's happened, I'll do my best to <%= link_to "keep posting new parts on my blog", posts_path %> until the series ends&mdash;or until my dad finds out what I've been writing. (If he ever sees any of this, he'll kill me. . . Well, if he can find me, that is.)</p>

		<p style="text-align:right">xxBailey</p>

		<div class="fiction_notice">
			<p><i><%= link_to "DEAD IN BED By Bailey Simms", books_path %> is a meta-novel created by Adrian Birch. Bailey Simms is a fictional character. This website is a companion to the novel.</i></p>
		</div>

  </div>


</body>

