
#about_body {
	font-family: "Avenir", Helvetica, sans-serif;
	background: black;
	color: hotpink;
}

.about_div {
	margin: 18px 250px 0px 250px; 
}

.about_div h1 {
	display: block;
	text-align: center;
	font-size: 64px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0;
} 

	h1.bailey_head {
		letter-spacing: .74em;
	}

	h1.simms_head {
		letter-spacing: .97em;
	}

.about_div p {
	text-align: justify;
	font-size: 14px;
	margin: 0 0 18px;
}

.about_div a {
	color: #57abb6;
}









