
#about_body {
	font-family: "Avenir", Helvetica, sans-serif;
	background: #0e1215;
	color: #428bca;
}

.about_div {
	margin: 35px 250px 20px 250px; 
}

.about_div h1 {
	display: block;
	text-align: center;
	font-size: 64px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0;
} 

	h1.bailey_head {
		letter-spacing: .74em;
	}

	h1.simms_head {
		letter-spacing: .97em;
	}

.about_div p {
	text-align: justify;
	font-size: 14px;
	margin: 0 0 18px;
}

.about_div a {
	color: #428bca;
	text-decoration: underline;
	&:hover {
		text-decoration: underline;
	}
}









