

#about_container {
	width: 80%;
	max-width: 500px;
	margin: 0 auto auto;
}

#about_content p {
	text-align: justify;
	color: #133247;
	letter-spacing: .7px;
	line-height: 23px;
	margin: 0;
	padding: 0 0 22px;
}

#about_read_button {
	width: 82px;
	height: 20px;
	font-family: Matol-M-Round, Avenir, Courier;
	font-size: 12px;
	letter-spacing: .8px;
	text-align: center;
	color: #FFFFFF;
	background: #CC544A;
	border-radius: 1.5px;
	padding-top: 3px;
	margin: 40px auto 62px;
	&:hover {
		background: #BA3C32;
	}
}

