/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



h1 {
	text-align: center;
	margin: 1.5em auto;
}


/*** FORMS ***/

.form { 
	margin: auto;
	width: 30%;
	font-weight: bold;
}

.form	input {
	margin: 5px auto 10px;
	width: 100%;
	height: 20px;
	padding: 0 4px;
}

input.form-button {
	display: block;
	margin: 2em auto;
	min-width: 33%;
	width: auto;
	height: 27px;
	border-radius: 7px;
	font-weight: bold;
}



/*** FLASH ALERT ***/

.flash-alert-success {
	color: green;
	text-align: center;
	margin: 2em auto;
}

.flash-alert-danger {
	color: red;
	text-align: center;
	margin: 2em auto;
}

.flash-alert-info {
	color: blue;
	text-align: center;
	margin: 2em auto;
}

.flash-alert-warning {
	color: orange;
	text-align: center;
	margin: 2em auto;
}





