
#books_body {
	display: block;
	font-family: Avenir, Helvetica, sans-serif;
	background: #FBFDFC;
	color: #040D12;
}

#books_container {
	display: block;
	margin: auto;
	width: 900px;
}

#complete_book_div {
	width: 650px;
	height: 300px;
	margin: 35px auto 0;
}

#complete_book_image_div {
	height: 300px;
	float: left;
	.complete_book_image {
		height: 300px;
		box-shadow: 0 0 30px 0px #000000;
	}
}	

#complete_book_text_div {
	width: 375px;
	float: right;
	margin: 30px 0 0;
}

.shop_book_header {
	font-family: Avenir Next, sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: .6px;
	color: #2D2D2D;
	margin: 0;
}

.shop_book_subheader {
	font-family: Avenir Next, sans-serif;
	font-weight: 300;
	font-size: 20px;
	font-style: italic;
	letter-spacing: .6px;
	color: #2D2D2D;
	margin: 5px 0 0;
}

.buy_books_div {
	float: left;
	margin: 35px 0 0;
}

.buy_audio_div {
	float: right;
	margin: 35px 0 0;
}

.buy_icon {
	float: left;
	padding: 0 7px;
}

.buy_label {
	font-size: 10px;
	padding: 2px 0 0;
}

.vendor_button {
	display: block;
	margin: 9px 0 0;
}


.horizontal_line {
	float: left;
	display: block;
	width: 100%;
	margin: 40px 0 30px; 
	border-top: 1px solid #555555;
}


#parts_container {
	clear: both;
	display: block;
	margin: 0 auto;
	height: 300px;
	.books_page_part {
		float: left;
		display: block;
		width: 11.28%;
		height: 200px;
		margin: 0 1.5%;
		text-align: center;
		color: #FBFDFC;
		font-size: 1em;
	}
	.part_image {
		height: 150px;
	  box-shadow: 0 0 10px 0px gray;
	  margin: 2px 0 3px;
	}
	.books_page_part {
		p {
			font-family: Avenir Next, sans-serif;
			padding: 1px 0 0;
		}
		&:hover {
		  color: #2b90c4;
		  margin-bottom: -2px;
	  }
	}
	.part_image:hover {
		height: 160px;
		margin-top: 0;
	}
	.p1 {
	  color: #AD0000;
	  p {
	  	padding: 5px 0 0;
	  }
	}
	.part_image1 {
		height: 156px;
		box-shadow: 0 0 10px 0px gray;
	}
	.p1:hover {
	  font-weight: 600;
	  color: #AD0000;
	}
	.part_image1 {
		margin: 2px 0 3px;
		&:hover {
			height: 160px;
			margin-top: 0;
		}
	}
}

#parts_container.b2 {
	height: 100px;
}











/******* RESPONSIVE STYLING *******/


/** <=900px **/

@media screen and (max-width: 900px) {
	#books_body {

		#parts_container {
			max-width: 700px;
			.books_page_part {
				width: 22%;
			}
			#last_three {	
				float: left;
				width: 75%;
				margin: 20px 12.5% 50px;			
				.books_page_part {
					width: 30.3333%;
				}
			}
		}

	}
}



/** <=700px **/

@media screen and (max-width: 700px) {
	#books_body {

		#complete_first_book_image_container {
			width: 100%;
			img {
				float: none;
				display: block;
				margin: auto;
			}
		}

		#complete_first_book_text_container {
			clear: left;
			width: 100%;
			margin: 0;
			height: auto;
			p {
				margin-top: 35px;
			}
			ul {
				margin-bottom: 0;
			}
		}

		.horizontal_line {
			width: 84%;
			margin: 35px 7%;
		}

	}
}



/** <=500px **/

@media screen and (max-width: 500px) {
	#books_body {
		p.complete_first_book_text_container_heading {
			max-width: 350px;
			margin-left: auto;
			margin-right: auto;
		}
		#parts_container {
			max-width: 350px;
			.books_page_part {
				width: 47%;
				margin-bottom: 17px;
				color: #2b90c4;
				.part_image {
					margin-left: auto;
					margin-right: auto;									
				}
			}
			.p1 {
				color: #AD0000;
				font-weight: 600;
			}
			.p3 {
				clear: left;
			}
			#last_three {	
				max-width: 350px;
				width: 100%;		
				margin: 0;
				.books_page_part {
					width: 47%;
					margin-bottom: 25px;		
				}
				.p7 {
					clear: left;
					width: 97%;
					img {
						display: block;
					}
				}
			}
		}	

	}
}



/** <=375px **/

@media screen and (max-width: 375px) {
	#books_body {

		#parts_container {
			max-width: 320px;
		}	

	}
}	



/** <=350px **/

@media screen and (max-width: 350px) {
	#books_body {

		p.complete_first_book_text_container_heading {
			max-width: 285px;
		}

		#parts_container {
			max-width: 280px;
		}	

	}
}	

