@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}



/* header */

#logo {
	float: left
}

#logo:hover {
	
}



/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid blue;
	color: blue;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


