
@import "bootstrap-sprockets";
@import "bootstrap";





/*** HEADER ***/

.nav {
	background: black;
	margin: none;
	.nav-divider {
		font-size: 2em;
		color: red;
	}
	img.gravatar {
		height: 2.66em;
		width: 2.66em;
		margin-top: .4em;
	}
	.navbar-nav.navbar-right:last-child {
			margin-right: 1em;
	}
}

#logo {
	float: left;
	font-weight: bold;
	margin-right: 1em;
	&:hover {
		color: white;
		background: black;
	}
}



/*** FOOTER ***/

footer {
	width: 96%;
	margin: 2% 2% .8%;
	padding-top: 5px;
	font-size: .75em;
	ul {
		float: right;
		list-style: none;
		color: gray;
		width: 100%;
		padding: 0;
		margin: 15px 0 10px;
		border-top: 1px solid darkgray;
		li {
  		float: left;
  		margin: 5px 0 0 15px;
  		a {
  			color: gray;
  			&:hover {
					color: lightgray;
					text-decoration: none;
				}
  		}
		}
	}
}

.footer-left {
	float: left;
	padding-right: 1em;
}

.footer-right {
 float: right;
 padding-left: 1em;
}
