@import "bootstrap-sprockets";
@import "bootstrap";



/*** HEADER ***/

header {
	background: black;
}

.navbar {
	border-bottom: solid 1px #222;
}

nav.nav {
	#logo {
		float: left;
		margin: 0px 20px 0px 15px;
		padding: 9px 0;
		img {
			height: 32px;
		}
	}
	.navbar-nav li a {
		padding: 0;
		margin-right: 29px;
		color: #4499c5;
		font-size: 11.5px;
		line-height: 50px;
		letter-spacing: 1px;
		vertical-align: center;
		&:hover {
			background: black;
			color: #ffffff;
			text-shadow: 0 0 15px #ffffff;
		}
	}
	.navbar-nav.navbar-right {
		a {
			text-align: right;
			margin: 0 10px 0 0;
			font-size: 13px;
			letter-spacing: 0;
			&:focus {
				background: black;
			}
		}
	}
	li.not_logged_in {
		margin-left: 11px;
		font-weight: bold;
	}
	.dropdown-menu {
		margin-right: 37px;
		min-width: 120px;
		padding: 5px 0 0;
		.dropdown_li a {
			color: black;
			line-height: 35px;
			margin: 0;
			text-align: center;
		}
		li a:hover {
			color: #4499c5;
			background-color: white;
		}
		.divider {
    	margin: 5px 0;
    }
	}
	img.gravatar {
		height: 40px;
		width: 40px;
		margin: 5px 0 5px 12px;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: 10px;
	}
	/* prevents flash after click */
	.open {
		> a {
			background-color: black;
		}
		.dropdown-menu .dropdown_li a {
			background-color: white;
		}
	}	
}





/*** FOOTER ***/

footer {
	width: 100%;
	margin: 0 1% 0 0;
	font-size: .75em;
	ul {
		float: right;
		list-style: none;
		color: gray;
		width: 100%;
		padding: 0;
		margin: 15px 0 10px;
		li {
  		float: left;
  		margin: 0 1% 0 0;
  		a {
  			color: gray;
  			&:hover {
					color: lightgray;
					text-decoration: none;
				}
  		}
		}
	}
}

.footer-left {
	float: left;
	padding-right: 1em;
}

.footer-right {
 float: right;
 padding-left: 1em;
}
