// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_body {
	font-family: 'Avenir', Helvetica, sans-serif;
	background: black;
	padding: 0;
}

#home_wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

#home_feature_image {
}

#home_name_with_feather_image {
	display: block;
	width: 70%;
	max-width: 420px;
	margin: 3% auto 3%;
}

#home_index_nav {
	font-size: 80%;
	letter-spacing: 2px;
}

#home_index_nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

#home_index_nav ul li {
	display: inline;
	margin: 3% 2%;
	line-height: 300%;
	.highlight {
		color: #d2ebee;
		text-decoration: none;
		font-weight: bold;
		text-shadow: 0 0 20px #ffffff;
		&:hover {
			color: #f4f6de;
			text-shadow: 0 0 20px #f4f6de;
		}
	}
	a {
		color: #b4cfd0;
		text-decoration: none;
		&:hover {
			color: #ffffff;
			text-shadow: 0 0 15px #ffffff;
		}
	}
}





/*** RESPONSIVE ***/


@media screen and (max-width: 660px) {
	#home_body {
		background: orange;
	}
}

@media screen and (max-width: 480px) {
	#home_body {
		background: green;
	}
}


