// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/// LAYOUT ///

#blog_body {
	min-height: 100%;
}

#blog_page_container {
	max-width: 960px;
	margin: auto;
}

#blog_title_container {
	background: #55090b;
	width: 96%;
	margin: 0 auto 1%;
	min-height: 6em;
	padding: 1%;
	h1 {
		margin: 1em auto;
		color: #eae8e8;
	}
}

#blog_posts_index_column_container {
	background: #eae8e8;
	width: 28.5%;
	margin: 1% 1% 1% 2%;
	height: 30em;
	padding: 1%;
	float: left;
	overflow: scroll;
	ul {
		list-style: none;
		padding: 0;
		li {
			font-size: .85em;
			padding: 1.25em 1.25em;
			border-bottom: 1px solid lightgray;
			line-height: 1.2em;
			p {
				margin: 0;
			}
			#date {
				margin-bottom: .6em;
			}
			#title {
				font-weight: bold;
				font-style: italic;
				color: #525c5e;
			}
			&:hover {
				background: #f2fbf2;
				a {
					text-decoration: none;
				}
				#date {
					text-decoration: none;
				}
				#title {
					color: black;
				}
			}
		}
		.current_post {
			background: white;
			a {
				text-decoration: none;
				color: #1350b8;
			}
			#date {
				text-decoration: none;
			}
			#title {
				color: black;
			}
			&:hover {
				background: white;
			}
		}
	}
}

#blog_post_container {
	font-family: Optima;
	background: #eae8e8;	
	width: 65.5%;
	margin: 1% 2% 1% 1%;
	height: 30em;
	padding: 3em 2em;
	float: right;
	overflow: scroll;
	h4 {
		text-align: center;
		margin: auto;
		width: 66%;
		padding: 0  0 .33em;
		border-bottom: solid 1px;
	}
	h1 {
		margin: .5em auto 2em;
	}
	p {
		margin-bottom: 1.33em;
		line-height: 18px;
		.first_letter {
			font-family: Optima;
		}
	}
	#blog-intro-statement {
		font-family: Avenir, Helvetica, sans-serif;
		padding: 2.5em 5em 0;
		text-align: center;
		font-weight: 600;
		p {
			margin-bottom: 2em;
		}
	}
}

#blog_comments_container {
	background: #eae8e8;	
	width: 96%;
	margin: 1% 2% 2%;
	height: 30em;
	padding: 1%;
	float: left;
}


/// BLOG POSTS INDEX COLUMN ///





