

// BANNER IMAGE //

#banner {
	position: fixed;
	width: 100%;
}


/// BODY ///

#blog_page_container {
	position: relative;
	width: 80%;
	max-width: 650px;
	margin: auto;
}


// BLOG POST //

#blog_post {
	position: relative;
	font-family: 'Ropa Sans', sans-serif;
	text-align: justify;
	margin: 34vw auto 0;
}

// Intro Statement Notice //

#blog_intro_statement {
	position: relative;
	margin: 100px auto 0;
	width: 500px;
	p {
		font-family: Matol-R-Round, Avenir, Courier;
	  font-size: 15px;
	  text-align: justify;
	 	line-height: 24px;
	 	letter-spacing: .3px;
	  color: #24475D;
	  margin-bottom: 24px;
	}
	#blog_intro_statement_button {
		position: relative;
		top: 35px;
		margin: 0 auto;
		padding-bottom: 100px;
		p {
			width: 165px;
			height: 40px;
			font-family: Matol-B-Round, Avenir, Courier;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 3px;
			text-align: center;
			color: #000000;
			background: #BA3C32;
			border-radius: 1.5px;
			padding-top: 12px;
			margin: 40px auto 0;
			&:hover {
				background: #8C090D;
			}
		}
	}
}

// Post Heading //

#blog_post_date {
	font-family: Ropa Sans, sans-serif;
	font-size: 18px;
	color: #000000;
	text-align: center;
	width: 330px;
	padding: 0 0 5px;
	margin: 0 auto;
	border-bottom: solid 1px;
}

#blog_post_title {
	font-family: Ropa Sans, sans-serif;
	font-size: 28px;
	letter-spacing: .8px;
	color: #000000;
	text-align: center;
	margin: 18px 0 0;
}

#post_edit_delete_links { 
	position: absolute;
	width: 100%;
	font-family: Ropa Sans, sans-serif;
	font-size: 11px;
	letter-spacing: .6px;
	text-align: center;
	padding: 8px 0 0;
	a {
		color: #666666;
	}
}

// 'Blog' Text Style //

.blog_text {
	margin: 100px 0 0;
	p {
		font-family: Ropa Sans, sans-serif;
		font-size: 19px;
		font-weight: 100;	
		color: #222222;
		letter-spacing: 0px;
		word-spacing: 2px;
	}
	p + p {
		text-indent: 0;
	}
}

// 'Novel' Text Style //	

.novel_text {
	margin: 120px 0 0;
	.first_letter {
		font-family: garamond;
		color: #333333;
	}
	.new_section_first_letter {
		font-family: garamond;
		color: #333333;
	}
	p {
		font-family: "Linden Hill", serif;
		font-size: 19px;
		color: #333333;
		line-height: 28px;
		margin-bottom: 0;
	}
	p + p {
		text-indent: 1.5em;
		margin-top: 0;
	}
}


// Post End Card //

#post_end_card_div {
	display: block;
	width: 440px;
	height: 237px;
	margin: 185px auto 0;
	background: #FFFFFF;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
	&.post_hidden {
		margin-top: 110px;
	} 
}

.post_end_card_upper_header {
	font-family: Matol-R-Round, Avenir, sans-serif;
	font-size: 13px;
	letter-spacing: .3px;
	color: #2D2D2D;
	text-align: center;
	padding: 33px 0 0;
}

.post_end_card_lower_header {
	font-family: Matol-B-Round, Avenir, sans-serif;
	font-size: 18px;
	letter-spacing: 0px;
	color: #2D2D2D;
	text-align: center;
	margin: 12px 0 0;
	&.post_hidden {
		color: #678960;
	}
}

.post_end_card_left_div {
	position: relative;
	width: 140px;
	height: 88px;
	margin: 33px 0 0 57px;
	float: left;
}

.post_end_card_right_div {
	position: relative;
	width: 140px;
	height: 88px;
	margin: 33px 57px 0 0;
	float: right;
}

.post_end_card_bottom_div {
	position: relative;
	width: 140px;
	height: 27px;
	margin: 40px auto 0;
}

.post_end_card_p {
	text-align: left;
	font-size: 10px;
	letter-spacing: .3px;
	line-height: 14px;
	padding: 0 0 0 2px;
	color: #555555;
}

.end_card_button_front, .end_card_button_back {
	position: absolute;
	bottom: 0px;
	width: 140px;
}

.end_card_button_front:hover {
	opacity: 0;
}

.facebook_share_this_part_button, .facebook_share_previous_part_button {
	cursor: pointer;
}

#no_access_div {
	color: #be0201;
	text-align: justify;
	font-weight: 600;
	margin: 160px auto 0;
	transform: rotate(-3deg);
	.no_access_text {
		text-align: center;
		font-size: 30px;
		font-family: 'Special Elite', courier, serif;
		color: #BA3C32;
		letter-spacing: .66px;
		line-height: 50px;
		margin-top: 0;
	}
}




/// COMMENTS SECTION ///

#blog_comments_container {	
  width: 600px;
  margin: 180px auto 125px;
}

.blog_comments_login_request {
	text-align: center;
	margin: 0 0 75px;
	font-size: 16px;
	color: #A3A3A3;
	a {
		color: #457A9D;
		&:hover {
			color: #133247;
		}
	}
}

// COMMENT FORM //

#post_comment_form_div {
	display: flex;
	width: 100%;
	min-height: 50px;
	font-size: 12px;
}

#post_comment_user_image {
	flex-grow: 0;
	width: 50px;
	margin: 0 10px 0 0;
	img {
		height: 50px;
		width: 50px;
		border: 1px solid #999999;
	}
}

#post_comment_form_field {
	flex-grow: 1;
	textarea {
		background: #FAFCFD;
		color: #2D2D2D;
		font-weight: normal;
		width: 100%;
		max-width: 100%;
		height: 52px;
		padding: 5px 10px;
		border-radius: 2px;
		border: solid 1px #A3A3A3;
	}
	::placeholder {
		color: #A3A3A3;
	}
}

.comment_button {
	clear: both;
	float: right;
	background: #8BC0E3;
	font-size: 10px;
	color: #2D2D2D;	
	padding: 5px 20px;
	margin: 7px 0 0;
	border: none;
	border-radius: 10px;
}
	

// COMMENTS FEED //

.comments_feed {
	clear: right;
	list-style: none;
	padding: 50px 0 0;
}

#comment_feed_item_div {
	min-height: 90px;
	display: flex;
	flex-direction: column;
	padding: 25px 30px;
	border-radius: 2px;
	margin-bottom: 35px;
	box-shadow: 0 0 3px 1px rgba(0,0,0, .25);
	li {
		height: auto;
		margin-bottom: 5px;
	}
}

#comment_feed_item_user_image {
	width: 50px;
	float: left;
	img {
		height: 50px;
		width: 50px;
		border: 1px solid #999999;
	}	
}

#comment_feed_item_user_name {
	margin: 30px 0 0;
	padding: 0 0 0 30px;
	a {
		font-family: Matol-M-Round, Avenir, sans-serif;
		color: #457A9D;
		font-size: 17px;
		letter-spacing: .8px;
		&:hover {
			color: #133247;
		}
	}
}

#comment_feed_item_timestamp {
	float: right;
	color: #E4B4B0;
	font-size: 10px;
	letter-spacing: .4px;
	padding: 6px 0 0;
}

#comment_feed_item_delete_x {
	margin: 0 0 0 3px;
	a {
		color: #3278b4;
	}
}

#comment_feed_item_content {
	float: left;
	clear: both;
	font-size: 12px;
	color: #2D2D2D;
	letter-spacing: .6px;
	margin: -16px 0 22px 80px;
}

#replies_div {
	clear: both;
	width: 100%;
}

#replies_feed {
	padding: 0;
}

#reply_li {
	list-style: none;
	padding: 30px 0 0;	
	border-top: 1px solid #CCCCCC;
}

#reply_user_image { 
	float: left;
	img {
		height: 18px;
		width: 18px;
		border: 1px solid #999999;
	}
}

#reply_header {
	margin: 0 0 0 25px;
}

#reply_user_name {
	font-size: 14px;
	color: #457A9D;
	letter-spacing: .6px;
	:hover {
		color: #133247;
	}
}

#reply_timestamp {
	float: right;
	color: #E4B4B0;
	font-size: 8px;
	letter-spacing: .3px;
	padding: 7px 0 0;
}

#reply_content {
	padding: 0 0 25px;
	margin: 8px 0 0;
	font-size: 10px;
	letter-spacing: .4px;
	color: #333333;
}

#reply_form {
	display: flex;
	margin: 15px 0 0;
}

#reply_form_user_image {
	flex-grow: 0;
	margin: 3px 7px 0 0;
	width: 18px;
	img {
		width: 18px;
		border: 1px solid #999999;
	}
}

#reply_form_field {
	flex-grow: 1;
	textarea {
		background: #FAFCFD;
		font-size: 10px;
		letter-spacing: .4px;
		color: #2D2D2D;
		width: 100%;
		height: 24px;
		padding: 4px 6px;
		margin: 0;
		border: solid 1px #A3A3A3;
	}
	::placeholder {
		color: #A3A3A3;
	}
}

#reply_submit_button input {
	clear: both;
	float: right;
	background: #8BC0E3;
	font-size: 9px;
	color: #2D2D2D;	
	padding: 3px 15px;
	margin: 7px 0 0;
	border: none;
	border-radius: 10px;
}
				
#login_to_reply {
	display: block;
	position: relative;
	text-align: center;
	letter-spacing: .2px;
	color: #A3A3A3;
	font-size: 10px;
	margin: 20px auto;
	a {
		color: #457A9D;
	}
}





/// NEW & UPDATE FORMS ///

.post_form_div {
	font-family: Matol-M-Round;
	color: #555555;		
	width: 900px;
	margin: 0 auto auto;
}

#post_title {
	margin-top: 30px;
	margin-bottom: 20px;
}

#post_headline {
	margin: 75px 0 50px
}

#post_form {
	width: 100%;
	margin: auto;
	input {
		width: 100%;
		max-width: 400px;
		margin: 0 0 5px;
		padding: 12px 5px;
		color: #666666;
		border: 1px solid #555555;
		font-family: Avenir, sans-serif;
		font-weight: normal;
		font-size: 12px;
	}
	#post_content {
		width: 100%;
		height: 55px; 
		padding: 5px;
		margin-bottom: 10px;
		color: #666666;
		border: 1px solid #555555;
		font-family: Avenir, sans-serif;
		font-weight: normal;
		font-size: 12px;
	}
	.checkboxes {
		input {
			width: 13px;
			height: 13px;
		}
	}
	.form_button {
		display: block;
		width: auto;
		height: 30px;
		font-family: Matol-M-Round, Avenir, Courier;
		font-size: 12px;
		letter-spacing: .8px;
		text-align: center;
		color: #FFFFFF;
		background: #CC544A;
		border-radius: 1.5px;
		border: none;
		padding: 3px 15px 0;
		margin: 40px auto 62px;
		&:hover {
			background: #BA3C32;
		}
	}
}








/*********************** RESPONSIVE STYLING *************************/





@media screen and (max-width: 750px) {

	#blog_intro_statement {
		width: 100%;
		max-width: 500px;
	}

	#blog_comments_container {	
		position: relative;
		width: 96%;
		max-width: 600px;
	 }

}


@media screen and (max-width: 550px) {

	#blog_intro_statement {
		margin: 65px auto 0;
	}

	#blog_post_date {
		width: auto;
	}

	#post_end_card_div {
		position: relative;
		width: 284px;
		height: 375px;
	}

	.post_end_card_lower_header {
		font-size: 14px;
	}

	.post_end_card_left_div {
		position: relative;
		width: 200px;
		height: 90px;
		margin: 33px auto 0;
		float: none;
	}

	.post_end_card_right_div {
		position: relative;
		width: 200px;
		height: 90px;
		margin: 45px auto 0;
		float: none;
	}

	.post_end_card_bottom_div {
		position: relative;
		width: 200px;
		height: 90px;
		margin: 45px auto 0;
	}

	.post_end_card_p {
		letter-spacing: 0px;
		line-height: 17px;
	}

	.end_card_button_front, .end_card_button_back {
		width: 200px;
	}

	#no_access_div {
		.no_access_text {
			font-size: 22px;
			letter-spacing: .3px;
			line-height: 35px;
		}
	}

	#comment_feed_item_comment_header {
		position: relative;
		height: 50px;
	}

	#comment_feed_item_user_name {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 32px;
		left: 60px;
		a {
			font-size: 15px;
			letter-spacing: 0px;
		}
	}

	#comment_feed_item_timestamp {
		position: absolute;
		font-size: 9px;
		padding: 0;
		top: 0;
		right: 0;
		letter-spacing: 0px;
	}

	#comment_feed_item_content {
		margin: 15px 0 10px;
	}

	#reply_timestamp {
		display: none;
	}

	
}




@media screen and (max-width: 360px) {

	#blog_page_container {
		width: 90%;
	}

	#blog_intro_statement {
		padding: 10px;
		margin: 30px auto 0;
	}

	.blog_text {
		padding: 10px;
	}

	.blog_text p {
		font-size: 17px;
	}

	.novel_text p {
		font-size: 18px;
	}

}







