// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form_bottom_div {
	height: 25px;
	margin: 3px 0 0;
}

.remember_checkbox {
	border-radius: 0;
}

.remember_label {																								//(label div acts as the custom checkbox's container)
	display: block;				                                        //block display necessary to position checkbox
  position: relative;                                           //relative position necessary to position checkbox
  float: left;
	font-size: 11px;
	font-weight: normal;
	padding: 6px 0 0 20px;
	color: #555555;
}

.remember_label input {                                         //hides the browser's default checkbox
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.remember_checkmark {			                                      //creates a custom checkbox
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #BBBBBB;
}

.remember_label:hover input ~ .remember_checkmark {  				    //changes checkbox color on hover 
  background-color: #555555;
}

.remember_label input:checked ~ .remember_checkmark {           //changes background when the checkbox is checked
    background-color: #555555;
}

.remember_checkmark:after {                                     //creates the checkmark (hidden when not checked)
  content: "";
  position: absolute;
  display: none;
}

.remember_label input:checked ~ .remember_checkmark:after {     //shows the checkmark when checked
  display: block;
}

.remember_label .remember_checkmark:after {                     //shapes and rotates the checkmark
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.forgot_password {
	display: block;
	float: right;
	font-size: 11px;
	padding: 4px 0 0;
	font-weight: normal;
	color: #555555;
}


