// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







/************* USER IMAGE *************/

.user_image {
	color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
}


/************* PROFILE *************/

#profile_container {
	width: 70%;
	max-width: 900px;
	margin: 0 auto auto;
	h3 {
		border-bottom: solid 1px;
	}
}

// feature //

#profile_feature_div {
	margin: 75px 0 0;
	text-align: center;
	letter-spacing: 2px;
	img {
		height: 158px;
		width: 158px;
	}
	.profile_name {
		font-family: Matol-B-Round, Avenir, sans-serif;
		margin: 15px auto 0;
	} 
	.email a {
		display: block;
		padding: 3px 0 0;
		color: #8BC0E3;
		&:hover {
			color: #457A9D;
		}
	}
}

// Parts Access //

#parts_access_div {
	display: flex;
	justify-content: space-between;
	margin: 80px 0 0;
	.part_div {
		position: relative;
		flex-basis: 5.8%;
		.part_cover_img {
			width: 100%;
			border: 1px solid #777777;
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, .4);
		}
		.tint_and_lock_img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			border: 1px solid #404040; //border necessary to match part cover image dimensions
		}

	}
}

// admin //
#admin_div {
	margin: 75px auto auto;
	h1 {
		font-size: 28px;
		border-bottom: solid 1px #555555; 
		margin: 0;
	}
	a {
		display: block;
		margin: 30px 0 0;
		color: #BA3C32;
		font-size: 16px;
		&:hover {
			color: #8C090D;
		}
	}
}

// comments //

.profile_comments_list {
	list-style: none;
	padding: 0;
}

#profile_comment_feed_item_div {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
	li {
		height: auto;
		margin-bottom: 5px;
	}
}

#profile_comment_feed_item_user_image {
	width: 50px;
	float: left;
	img {
		height: 50px;
		width: 50px;
	}	
}

#profile_comment_feed_item_post_name {
	margin: 30px 0 0;
	padding: 0 0 0 30px;
	a {
		font-family: Matol-M-Round, Avenir, sans-serif;
		color: #BA3C32;
		font-size: 20px;
		letter-spacing: .8px;
		&:hover {
			color: #8C090D;
		}
	}
}

#profile_comment_feed_item_timestamp {
	float: right;
	color: #E4B4B0;
	font-size: 10px;
	letter-spacing: .4px;
	padding: 6px 0 0;
}

#profile_comment_feed_item_delete_x {
	margin: 0 0 0 3px;
	a {
		color: #E4B4B0;
	}
}

#profile_comment_feed_item_content {
	float: left;
	clear: both;
	font-size: 12px;
	color: #2D2D2D;
	letter-spacing: .6px;
	margin: -16px 0 22px 80px;
}

.no_comments_notice {
	margin-bottom: 100px;
}



/************* SETTINGS *************/

#user_edit_image_div img {
	display: block;
	height: 164px;
	width: 164px;
	margin: auto;
}


/************* COMMUNITY *************/


#community_container {
	width: 80%;
	max-width: 900px;
	margin: 0 auto auto;
	a:hover {
		color: #0f4b7e;
	}
}

// Members //
.members_div {
	float: left;
	width: 35%;
	min-height: 600px;
	margin: 0 0 125px;
	h5 {
		margin: 4px 0 0;
	}
	#members_list {
		padding-left: 0;
		margin: 36px 0 0;
		li {
			display: block;
			list-style: none;
			height: 59px;
			box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .35);
			border-radius: 1px;
			margin-bottom: 30px;
			clear: left;
			.users_index_user_image {
				display: block;
				float: left;
				padding: 10px;
				img {
					height:40px;
					width: 40px;
				}
			}
			.users_index_user_name {
				display: block;
				overflow-x: scroll;
				overflow-y: hidden;
				white-space: nowrap;
				margin: 0;
				padding: 18px 0 0;
				line-height: 18px;
				a {
					font-family: Matol-M-Round, Avenir, sans-serif;
					font-size: 16px;
					color: #CF5F7D;
					&:hover {
						color: #C13258;
					}
				} 
			}
			.users_index_date {
				display: block;
				position: relative;
				top: 1px;
				margin: 0;
				padding: 0;
				font-family: Matol-R-Round, Avenir, sans-serif;
				font-size: 10px;
				color: #8BC0E3;
				span {
					font-size: 12px;
					color: #1b252b;
				}
				a {
					font-size: 14px;
				}
			}
		}
	}
}


// Top Contributors //

#community_container { 
	.top_contributors_div {
		width: 53%;
		float: right;
		h5 {
			margin: 4px 0 0;
		}
		a {
			color: #428bca;
		}
		#top_contributors_list {
			width: 100%;
			margin: 34px 0 0;
			padding: 0;
			li {
				display: block;
				width: 100%;
				height: 45px;
				list-style: none;
				color: #555555;
				letter-spacing: .66px;
				.rank_div {
				  display: block;
				  float: left;
					height: 45px;
					width: 5%;
					padding: 6px 15px 0 0;
					margin: 0;
					font-size: 14px;
					letter-spacing: .66px;
				}
				.upper_div_right {
				  display: block;
					float: right;
					width: 95%;
					height: 27px;
					border-bottom: solid 1px #555555;
					margin: 0;
					.user_image {
						display: block;
						float: left;
						height: 22px;
						width: 22px;
						box-shadow: none;
						float: left;
						border: solid 1px #555555;
					}
					.contributor_name {
						display: block;
						float: left;
						font-family: Matol-B-Round, Avenir, sans-serif;
						font-size: 14px;
						padding: 6px 0 0 11px;
						a {
							color: #555555;
							&:hover {
								color: #457A9D;
							}
						}
					}
					.share_count {
						display: block;
						float: right;
						margin: 0;
						padding-top: 5px;
						font-size: 16px;
						letter-spacing: .66px;
						color: #CC544A;
					}
				}	
				.comment_count_div {
					display: block;
					float: right;
					margin: 0;
					height: 18px;
					padding-top: 3px;
					font-size: 8px;
					letter-spacing: .42px;
					color: #457A9D;
				}
			}
		}
		.rankings_share {
			width: 100%;
			padding: 0;
			margin: 5px 0 0;
			p {
				display: block;
				text-align: center;
				color: white;
				font-weight: bold;
				margin: 0;
			}
		}
	}
	.top_contributors_div.secondary {
		margin: 113px 0 0;
		h4 {
			margin: 10px 0 0;
		}
		#top_contributors_list {
			width: 100%;
			margin: 36px 0 0;
			li {
				height: 40px;
				letter-spacing: .66px;
				.rank_div {
					height: 40px;
					padding: 6px 15px 0 0;
					font-size: 12px;
					letter-spacing: .55px;
				}
				.upper_div_right {
					height: 22px;
					border-bottom: solid 1px #AAAAAA;
					.user_image {
						height: 18px;
						width: 18px;
					}
					.contributor_name {
						font-family: Matol-M-Round, Avenir, sans-serif;
						font-size: 12px;
						letter-spacing: .55px;
						padding: 5px 0 0 11px;
					}
					.share_count {
						font-size: 12px;
					}
				}	
			}
		}
	}
}

// Recent Comments //

#recent_comments_div {
	float: right;
	width: 53%;
	padding: 110px 0 0;
	margin: 0 0 125px 0;
	h5 {
		margin: 4px 0 0;
	}
	#recent_comments_list {
		list-style: none;
		padding: 0;
		margin: 30px 0 0;
		#comment_div {
			min-height: 90px;
			display: flex;
			flex-direction: column;
			padding: 25px 0 0;
			.comment_li {
				height: auto;
				#user_image {
					width: 48px;
					float: left;
					.user_image {
						height: 48px;
						width: 48px;
						box-shadow: none;
					}	
				}
				#user_name {
					display: inline-block;
					padding: 10px 0 0 10px;
					font-family: Matol-M-Round, Avenir, sans-serif;
					font-size: 15px;
					a {
						color: #3278b4;
						&:hover {
							color: #133247;
						}
					}
				}
				.comment_header_text {
					color: #457A9D;
					font-size: 10px;
				}
				#timestamp {
					float: right;
					font-size: 9px;
					color: #E4B4B0;
					padding: 16px 0 0;
					#delete_x {
						margin: 0 0 0 2px;
						font-style: normal;
						a { 
							color: #E4B4B0; 
						} 
					}
					.edit_comment {
						margin: 0;
						padding: 0;
						display: inline;
						width: auto;
						font-style: normal;	
						.hide_comment_button {
					    font-family: Matol-M-Round, Avenir, sans-serif;
					    background: none;
					    padding: 0 0 0 2px;
					    border-style: none;
					    color: #E4B4B0;
						}
					}
				}
				#post_name {
					display: block;
					width: 100%;
					margin: 0 0 0 58px;
					font-size: 12px;
					a {
						color: #8BC0E3;
						&:hover {
							color: #133247;
						}
					}
				}
				#content {
					width: 100%;
					margin: 12px 0 0;
					font-size: 12px;
					letter-spacing: .6px;
					line-height: 19px;
					color: #333333;
				}
			}

			#replies_div {
				width: 100%;
				padding: 0 0 0 15px;
				margin: 20px 0 0;
				#replies_feed {
					padding: 0;
					.reply_li {
						list-style: none;
						margin: 0 0 15px;
						#reply_user_image { 
							float: left;
							img {
								box-shadow: none;
								height: 17px;
								width: 17px;
							}
						}
						#reply_header {
							margin: 0 0 0 24px;
							#reply_user_name {
								font-family: Matol-M-Round, Avenir, sans-serif;
								font-size: 12px;
								color: #3278b4;
							}
							.reply_header_text {
								color: #457A9D;
    						font-size: 8.5px;
    						#reply_timestamp {
									#delete_x a {
										color: #E4B4B0;
									}
								}
							}
						}
						#reply_content {
							font-size: 11px;
							padding: 7px 0 0;
							letter-spacing: .5px;
							line-height: 17px;
							color: #555555;
						}			
					}
				}		
			}
		}
	}
}


/************* PAGINATION *************/

div.pagination {
	width: 100%;
	text-align: center;
	margin: 2em auto 0;
	ul {
		margin: 0;
	}
}

p.pagination {
	width: 100%;
	text-align: center;
	margin: .5em auto 1.5em;
	font-size: .85em;
	color: gray;
	font-style: italic;
}


/// NEW: SIGNUP FORM ///

#signup_container .form {
	display: block;
	width: 300px;
	margin: auto;
}


/// EDIT: SETTINGS FORM  ///

#settings_container .form {
	display: block;
	width: 300px;
	margin: auto;
}










/////////////******* RESPONSIVE STYLING *******////////////



/*** Standard Desktop ***/

.tablet_view {
	display: none;
}
.mobile_view {
	display: none;
}




/** <=1000px **/

@media screen and (max-width: 1000px) {

	// PROFILE PAGE //
	#profile_comment_feed_item_post_name {
		a {font-size: 13px;}
	}
	
	#profile_comment_feed_item_timestamp {
		font-size: 8px;
	}

}





/** <=900px **/

@media screen and (max-width: 900px) {

	#community_body {

		.web_view {
			display: none;
		}
		.tablet_view {
			display: block;
		}

		.top_contributors_div {
			width: 100%;
			margin: 0 0 20px;
		}

		.members_div {
			padding: 110px 0 0;
			margin: 0;
			h2 {
				margin: 35px 0 0;
			}
		}

		#members_list {
			margin: 56px 0 0;
		}

		#members_list li {
			display: block;
			height: 45px;
			.users_index_user_image {
				padding: 5px 10px 5px 5px;
				img {
					height: 35px;
					width: 35px;
				}
			}
			.users_index_user_name {
				padding: 11px 0 0 0;
				a { font-size: 14px; }
			}
			.users_index_date {
				font-size: 9px;
				padding: 0 0 0 3px;
				span {
					font-size: 10px;
				}
				a {
					font-size: 12px;
					line-height: 10px;
				}
			}
		}

		#recent_comments_div {
			h2 {
				margin: 35px auto 0;
			}
		}

		// Recent Comments //
		#recent_comments_list #comment_div li {
			#user_image {
				width: 12%;
				height: 48px;
				float: left;
			}
			#comment_header {
				position: relative;
				#user_name {
					padding: 13px 0 0 8px;
				}
				#post_name {
					clear: right;
					padding-left: 56px;
					margin: 0;
					a { font-size: 10px; }
				}
				#timestamp {
					position: absolute;
					padding: 0;
					top: 0;
					right: 0;
					font-size: 8px;
				}
				#content {
					clear: right;
					width: 88%;
					padding-left: 2%;
					margin: 12px 0 0;
				}
			}	
		}

	}

}





/** <=750px **/

@media screen and (max-width: 750px) {

	#profile_comment_feed_item_comment_header {
		position: relative;
		height: 50px;
	}

	#profile_comment_feed_item_post_name {
		position: absolute;
		padding: 0;
		margin: 0;
		bottom: 0;
		left: 60px;
		a { 
			letter-spacing: 0px; 
			line-height: 14px;
		}
	}

	#profile_comment_feed_item_timestamp {
		position: absolute;
		padding: 0;
		top: 0;
		right: 0;
		letter-spacing: 0px;
	}

	#profile_comment_feed_item_content {
		margin: 15px 0 10px;
	}

}






/** <=700px **/

@media screen and (max-width: 700px) {
	#community_body {

		.tablet_view {
			display: none;
		}
		.mobile_view {
			display: block;
		}

		.top_contributors_div {
			float: none;
			width: 100%;
			margin: 0 auto 20px;
			#top_contributors_list li {
				.contributor_name {
					max-width: 185px;
				}
				span {
					font-size: 14px;
				}
			}
		}

		#recent_comments_div {
			float: none;
			clear: both;
			width: 100%;
			margin: 0 auto 0;
			h2 {
				margin: 35px auto 0;
			}
			#recent_comments_list #comment_div li {
				#user_image {
					width: 60px;
					float: left;
				}
				#comment_header {			
					#user_name {
						padding-left: 0;
					}
					#post_name {
						clear: right;
						padding-left: 2%;
						margin: 0;
					}
				}
				#content {
					clear: both;
					width: 100%;
					margin: 12px 0 0;
				}
			}
		}

		#reply_content {
			margin: 0;
		}

		.members_div {
			float: none;
			width: 92%;
			margin: auto;
			#members_list li {
				.users_index_user_image {
					display: block;
					float: left;
					height: 45px;
					width: 45px;
				}
				.users_index_user_name {
					display: block;
					float: none;
					width: auto;
				}
				.users_index_date {
					display: block;
					top: 0;
				}
			}
		}	

	}


	// PROFILE PAGE //

	#parts_access_div {
		flex-wrap: wrap;
		.part_div {
			flex-basis: 11.7142%;
			margin: 0 3% 3% 0;
			&:nth-child(7n) {
    		margin-right: 0;
			}
		}
	}

}





/** <=500px **/

@media screen and (max-width: 500px) {

	// PROFILE PAGE //
	#profile_container {
		width: 80%;
	}

	#community_container {

		.top_contributors_div #top_contributors_list li {
			.rank_div { width: 8%; }
			.upper_div_right { 
				width: 92%; 
				.contributor_name {
					font-size: 12px;
					letter-spacing: 0px;
					padding: 9px 0 0 9px;
				}
				.share_count {
					font-size: 13px;
	    		letter-spacing: 0px;
	    		padding: 8px 0 0;
				}
			}
		}

		.top_contributors_div.secondary #top_contributors_list li .upper_div_right {
			.contributor_name {
				font-size: 11px;
				letter-spacing: 0px;
				padding: 6px 0 0 8px;
			}
			.share_count {
				padding: 5px 0 0
			}
		}

		h3.top_contributors_heading {
				font-size: 14px;
				letter-spacing: 0px;
		}

		h4.top_contributors_heading {
			font-size: 12px;
			letter-spacing: 0px;
		}

		#recent_comments_div {
			#recent_comments_list #comment_div li {
				#comment_header {			
					#user_name {
						font-size: 12px;
						padding: 19px 0 0;
					}
					.comment_header_text {
						font-size: 9px;
					}
					#post_name a {
						font-size: 9px;
					}
				}
			}
		}

	}


}





/** <=350px **/

@media screen and (max-width: 350px) {

	// PROFILE PAGE //
	#profile_comments_div .profile_comments_list #comment_div {
		padding: 8px 0 20px;
		li {
			#user_image {
				width: 35px;
				height: 35px;
				img {
					height: 35px;
				}	
			}
			#post_name {
				padding-left: 5px;
				a {
					font-size: 11px;
					line-height: 6px;
				}
			}
			#timestamp {
				float: none;
				display: block;	
				padding-left: 40px;
				font-size: 10px;
			}
			#content {
				float: left;
				clear: both;
				padding-left: 4px;
			}
		}
	}

}







