// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	text-align: center;
}


/// PROFILE ///

#profile {
	margin: 4em 0 6em;
}


/// GRAVATAR ///

.gravatar {
	color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px;
}


/// SIGNUP FORM ///

#signup-form { 
	margin: 3em auto 5em;
	width: 30%;
	font-weight: bold;
	input {
		margin: 5px auto 10px;
		width: 100%;
		height: 20px;
		padding: 0 4px;
	}
	#signup-join-button {
		display: block;
		margin: 10px auto 0;
		width: 33%;
		height: 27px;
		border-radius: 7px;
		font-weight: bold;
	}
}


/// EDIT FORM ///

#user-edit-gravatar {
	margin: 2.8em auto 2em;
	.gravatar {
		display: block;
		margin: auto;
	}
	a {
		display: block;
		text-align: center;
		margin-top: .2em;
		font-size: .75em;
	}
}

#user-edit-form { 
	margin: 2em auto 5em;
	width: 30%;
	font-weight: bold;
	input {
		margin: 5px auto 10px;
		width: 100%;
		height: 20px;
		padding: 0 4px;
	}
	#user-edit-save-button {
		display: block;
		margin: 1em auto 2em;
		width: 45%;
		height: 27px;
		border-radius: 7px;
		font-weight: bold;
	}
}

/// INDEX ///

#users-index {
	display: block;
	width: 40%;
	margin: 2.5em auto 0;
	li {
		list-style: none;
		margin-bottom: 1em;
		a {
			margin-left: .5em;
			font-size: 1.5em;
		}
	}
}


/// PAGINATION ///

div.pagination {
	width: 100%;
	text-align: center;
	margin: 2em auto 0;
	ul {
		margin: 0;
	}
}

p.pagination {
	width: 100%;
	text-align: center;
	margin: .5em auto 1.5em;
	font-size: .85em;
	color: gray;
	font-style: italic;
}

