// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/// PROFILE ///

#profile {
	margin: 9em 0 6em;
}

/* comments */

.profile_comments_list {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user_name {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: lightgray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}



/// GRAVATAR ///

.gravatar {
	color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px;
}

#user-edit-gravatar {
	text-align: center;
	margin-bottom: 2.25em;
	margin-top: -1em;
}



/// INDEX ///

#users_index {
	display: block;
	width: 40%;
	margin: 2.5em auto 0;
	li {
		list-style: none;
		padding-bottom: 15px;
		border-bottom: solid 1px lightgray;
		margin-bottom: 15px;
		clear: left;
		&:last-child {
			border-bottom: none;
		}
		img {
			height: 50px;
			margin-right: 10px;
			float: left;
		}
		.users_index_user_name {
			font-size: 1.5em;
			line-height: 1em;
			padding-top: 5px;
			margin: 0;
		}
		.users_index_date {
			margin: 0;
			span {
				font-size: 10px;
			}
			a {
				font-size: 10px;
			}
		}
	}
}



/// PAGINATION ///

div.pagination {
	width: 100%;
	text-align: center;
	margin: 2em auto 0;
	ul {
		margin: 0;
	}
}

p.pagination {
	width: 100%;
	text-align: center;
	margin: .5em auto 1.5em;
	font-size: .85em;
	color: gray;
	font-style: italic;
}

