  
  <div id="fb-root"></div>
  <script>

    //Facebook popup dialogue windows
    window.fbAsyncInit = function() {
      FB.init({
        appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
        status     : true,
        cookie     : true,
        xfbml      : true,
        version    : 'v2.5'
      });
    };


    //Facebook SDK
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));


    //Facebook client-side app login
    $(function() {
      $.ajax({
        url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js",
        dataType: 'script',
        cache: true
      });
      $('#fb_connect').click(function(e) {
        e.preventDefault();
        return FB.login(function(response) {
          if (response.authResponse) {
            return window.location = '/auth/facebook/callback';
          }
        });
      });
      return $('#fb_disconnect').click(function(e) {
        FB.getLoginStatus(function(response) {
          if (response.authResponse) {
            return FB.logout();
          }
        });
        return true;
      });
    });


    // FB.ui Share Button
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());

    $(document).ready(function(){
      $('.facebook_share_button').click(function(){
      FB.ui({
        method: 'share',
        href: 'https://baileysimms.herokuapp.com/',

        description: <%="DEAD IN BED, Part #{@post.book_part}: #{Part.find_by_part_number(@post.book_part).title}"%>,
        image: <%="https://baileysimms.herokuapp.com/assets/facebook/DiB#{@post.book_part}_fb_share.jpg"%>,

        }, function(response){
          if (response && !response.error_message) {
            $.ajax({
              url : "/log_shares",
              method : "PATCH",
              data : { share_status: 'shared' }
            });
            alert("Thanks for sharing!");
          } else {
            alert("Looks like your share didn't go through.");
          }
        });
      });
    });



  </script>


