<footer class="footer">
	<nav>
		<ul class="footer">
			<li class="footer-left">&copy; Adrian Birch 2016</li>
			<li class="footer-right"><%= link_to "home", root_path %></li>
			<li class="footer-right"><%= link_to "contact", contact_path %></li>
		</ul>
	</nav>
</footer>